{% extends 'index.html' %}

{% block content %}


		<header class="hero">

			<a href="">
			     <i class="fas fa-chevron-circle-left back-btn"></i>
			</a>

			<div class="hero-info">
				<h1 class="name">{{ contact.full_name }}</h1>
				<p class="relationship-hero">{{ contact.relationship }}</p>
			</div>
		</header>
		<form action="" method="POST">
		{% csrf_token %}
		<section class="contact-info">

			<div class="info-line">
				<i class="fas fa-phone icon-gradient"></i>
				<input type="text" class="type" name="username" placeholder="Username" value="">
			</div>

			<div  class="info-line">
				<i class="fas fa-envelope icon-gradient"></i>
				<input type="text" class="type" name="email" placeholder="Email" value="">
			</div>

			<div class="info-line">
				<i class="fas fa-cog icon-gradient"></i>
				<input type="password" class="type" name="password1" placeholder="Password" value="">
			</div>

			<div class="info-line">
				<i class="fas fa-cog icon-gradient"></i>
				<input type="password" class="type" name="password2" placeholder="Confirm Password" value="">
			</div>

		</section>

		<section class="button-container">
			<div class="update-contact">
				<i  class="fas fa-check-circle icon-gradient"></i>
				<button class="button">Sign Up</button>
			</div>
		</section>

	</form>


{% endblock %}